@use './_mixins' as *
// SASS BACKGROUND AVEC MIXIN
.imgH
    background-image: url("../assets/img/banner.jpg")
    @include bg-header
    background-attachment: fixed
    background-repeat: no-repeat
    
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 80%
        background-color: rgba(0, 0, 0, 0.5)
        z-index: 0
// SASS NAV
nav
    display: flex
    position: relative
    z-index: 1
    
    
    
    .navbar-brand
        margin-left: 50px
        font-weight: bold
        color: white
        padding-top: 40px
    .spanN
        font-weight: 100

    .collapse
        display: flex
        justify-content: end
        
    .nav-link
        color: white
        padding-top: 40px

header
    @include flex
    flex-direction: column
    text-align: center
    padding-top: 100px
    z-index: 1
    position: relative
    line-height: 1.9
    .headerP
        color: white
        padding-top: 20px
        opacity: 50%
        padding-bottom: 20px
    .headerH1
        color: white

// SECTION 1
.section1DivP
    display: flex
    padding-top: 70px
    margin-left: 25%
    margin-right: 15%
    .section1Div1P
        color: grey 
        font-size: 18px
        padding-top: 2vh
        opacity: 80%
    .section1Div2
        margin-left: 20%
        color: grey
        width: 50%
    .section1Div2
        line-height: 1.9
    .section1Div2P2
        padding-top: 10px

    // SECTION 2
.section2
    background-color: #F6F6F6
    padding-top: 80px
    .section2Div1H2
        @include flex
    .section2Div1H3
        @include flex
        opacity: 70%
        color: grey
        font-weight: 100
        font-size: 20px
    .section2Btn
        @include flex
        gap: 10px
        padding: 50px
    .section2Div2
        @include flex
        gap: 20px
        text-align: center
        font-weight: bold
        padding-top: 30px
// SECTION 3 
.section3 
    margin: 5vw
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    h1 
      font-size: 30px
      margin-left: 10%
    
    .h1-p 
      font-size: 20px
      margin-left: 10%
    
    .div-img > img 
      border: 10px solid #aaaaa944
      border-radius: 50%
    
  
    //    SECTION 4
            
.section4
        background-image: url("../assets/img/banner.jpg")
        @include bg-section
        background-attachment: fixed
        background-repeat: no-repeat
        position: relative
        margin-top: 50px
        
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: rgba(0, 0, 0, 0.5)
            z-index: 0
        .section4Div
            position: relative
            z-index: 1
            color: white
            @include flex
            flex-direction: column
            text-align: center
            align-items: center
            padding-top: 50px
            
footer
    background-color: #F6F6F6
    color: rgb(182, 176, 176)
    padding: 50px
    .footerDiv1
        @include flex
        align-items: center
        font-size: 30px
        gap: 30px
        padding-bottom: 40px
    .footerDiv2
        @include flex
        gap: 30px
        .footerBorder
            border-left: 1px solid rgba(182, 176, 176, 0.638)
            border-right: 1px solid rgba(182, 176, 176, 0.638)
            padding-left: 10px
            padding-right: 10px

@media (max-width: 768px)
    body
        overflow-x: hidden
    .section1DivP
        display: flex
        flex-direction: column
        font-size: 12px
        text-align: start
        .section1Div2
            margin-left: 0
    .section2Div2
        width: 80%
        display: flex
        justify-content: center
        margin-left: 12vw

    .container
        display: flex
        flex-direction: column
    .section3Div1
        font-size: 50px
   
@media (min-width: 769px) and (max-width: 992px) 
     .section1DivP
        display: flex
        font-size: 12px
        text-align: start
        .section1Div2
            margin-left: 0
     .section2Div2
        width: 60%
        display: flex
        justify-content: center
        margin-left: 20vw
     .container
        width: 80%
        font-size: 12px
        .section3Img
            width: 150px
            height: 150px


        
    
