@use './_mixins' as *

.imgH
    background-image: url("../assets/img/banner.jpg")
    @include bg-header
    background-attachment: fixed
    background-repeat: no-repeat
    
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 80%
        background-color: rgba(0, 0, 0, 0.5)
        z-index: 0
    
nav
    display: flex
    position: relative
    z-index: 1
    
    
    
    .navbar-brand
        margin-left: 50px
        font-weight: bold
        color: white
        padding-top: 40px
    .spanN
        font-weight: 100

    .collapse
        margin-left: 50vw
        
    .nav-link
        color: white
        padding-top: 40px

header
    @include flex
    flex-direction: column
    text-align: center
    padding-top: 100px
    z-index: 1
    position: relative
    line-height: 1.9
    .headerP
        color: white
        padding-top: 20px
        opacity: 50%
        padding-bottom: 20px
    .headerH1
        color: white


.section1DivP
    display: flex
    padding-top: 70px
    margin-left: 25%
    margin-right: 15%
    .section1Div1P
        color: grey 
        font-size: 18px
        padding-top: 2vh
        opacity: 80%
    .section1Div2
        margin-left: 20%
        color: grey
        width: 50%
    .section1Div2
        line-height: 1.9
    .section1Div2P2
        padding-top: 10px

    
.section2
    background-color: #F6F6F6
    padding-top: 80px
    .section2Div1H2
        @include flex
    .section2Div1H3
        @include flex
        opacity: 70%
        color: grey
        font-weight: 100
        font-size: 20px
    .section2Btn
        @include flex
        gap: 10px
        padding: 50px
    .section2Div2
        @include flex
        gap: 20px
        text-align: center
        font-weight: bold

.section3Div1
    margin-left: 15%   
    padding-top: 50px  
    .section3Div1P
        font-weight: 100
        font-size: 20px
        color: grey
.section3Div2
        padding-top: 50px
        @include flex
        gap: 30px
        .section3Div21
            text-align: end
            .section3Div21P1
                font-weight: 100%
                color: grey
                opacity: 80%
            .section3Div21P2
                color: grey
                line-height: 1.9
        .section3Div22
            display: flex
            gap: 30px
            .section3Div22Img
                border: 8px solid 
                border-color: #E3E3E3 
                border-radius: 50%
        .section3Div23
            text-align: start
            .section3Div23P1
                font-weight: 100%
                color: grey
                opacity: 80%
            .section3Div23P2
                color: grey
                line-height: 1.9
            
.section3Div3
        padding-top: 50px
        @include flex
        gap: 30px
        .section3Div31
            text-align: end
            .section3Div31P1
                font-weight: 100%
                color: grey
                opacity: 80%
            .section3Div31P2
                color: grey
                line-height: 1.9
        .section3Div32
            display: flex
            gap: 30px
            .section3Div32Img
                border: 8px solid 
                border-color: #E3E3E3 
                border-radius: 50%
        .section3Div33
            text-align: start
            .section3Div33P1
                font-weight: 100%
                color: grey
                opacity: 80%
            .section3Div33P2
                color: grey
                line-height: 1.9
       
            
.section4
        background-image: url("../assets/img/banner.jpg")
        @include bg-section
        background-attachment: fixed
        background-repeat: no-repeat
        position: relative
        margin-top: 50px
        
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: rgba(0, 0, 0, 0.5)
            z-index: 0
        .section4Div
            position: relative
            z-index: 1
            color: white
            @include flex
            flex-direction: column
            text-align: center
            align-items: center
            padding-top: 50px
            
        