@use './_mixins' as *

nav
    display: flex
    
    .navbar-brand
        margin-left: 50px
        font-weight: bold
    .spanN
        font-weight: 100

    .collapse
        margin-left: 50vw
        